 .semester{
      font-size: 18px;
      color: black;
      font-weight: 700;
    }
    .small li{
      font-size:12px;
    }
    
    .derp {
      width: 690px;
      height: 200px;
      margin:10px;
      padding:5px;
      border: 1px solid black;
      border-radius: 10px 10px 10px 10px;
      background-color: #85C1E9;
    }
    
    .container_12 .missing {
      width: 208px;
      height: 200px;
      margin:10px;
      padding:5px;
      border: 1px solid black;
      border-radius: 10px 10px 10px 10px;
      background-color: #85C1E9; 
    }
    
    .container_12 .nav {
      width: 208px;
      height: 688px;
      margin:10px;
      padding:5px;
      border: 1px solid #777777;
      border-radius: 10px 10px 10px 10px;
      background-color: #DCDCDC; 
    }
    .container_12 .box {
      width: 208px;
      height: 148px;
      margin:10px;
      padding:5px;
      border: 1px solid black;
      border-radius: 10px 10px 10px 10px;
      background-color: #DCDCDC; 
    }
    
    .container_12 .empty {
      width: 208px;
      height: 148px;
      margin:10px;
      padding:5px;
      border: 1px solid black;
      border-radius: 10px 10px 10px 10px;
      background-color: #85C1E9; 
    }
    
    hr{
      color:black;
      border-color:black;
    }
  
    .header {
      width: 100px;
      margin:10px;
      height: 300px;
      border: 1px solid #777777;
      border-radius: 10px 10px 10px 10px;
      background-color: #85C1E9;
    }